<!-- <p>header works!</p> -->
 <header id="header">
      <div class="wrap">
          <div id="header_title">
            <h2>das deutsche Kino</h2>
          </div>
          <nav id="menu">
            <ul>
              <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">home</a></li>
              <li><a [routerLink]="['/filme']" [routerLinkActive]="['active']">Filme</a></li>
              <li><a [routerLink]="['/regi']" [routerLinkActive]="['active']">Regisseurs</a></li>
              <li><a [routerLink]="['/actor']" [routerLinkActive]="['active']">schauspielers</a></li>
              <li><a [routerLink]="['/actres']" [routerLinkActive]="['active']">Schauspielerinen</a></li>
            </ul>
          </nav>  
      </div>
 </header>
