
@font-face{
font-family:'KronaOne';
src:url('/assets/fonts/KronaOne-Regular.ttf');


}


#footer{
	background: black;
	height: 85px;
	width:1284px;
	color: white;
	font-family:'KronaOne'; 
	font-size: 15px;
	margin-top:400px;
	margin-bottom: -5px;



}

#foot_content  h2{
	float: right;
	margin: 0px 395px 0px 0px;
	line-height: 65px;
	text-shadow: 2px 2px 2px gray;

}

